@font-face {
    font-family: "Gilroy-ExtraBold";
    src: url("./fonts/Gilroy-ExtraBold.otf") format("opentype");
    font-weight: normal;
}

@font-face {
    font-family: "Gilroy-Light";
    src: url("./fonts/Gilroy-Light.otf") format("opentype");
}

@font-face {
    font-family: "Gilroy-medium";
    src: url("./fonts/gilroy-medium.ttf") format("TrueType");
}

@font-face {
    font-family: "Gilroy-Bold";
    src: url("./fonts/gilroy-bold.ttf") format("TrueType");
}

nav {
    display: flex;
    justify-content: space-between;
    font-family: "Gilroy-Bold";
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    border-bottom: 1px solid #828282;
    height: 88px;
    font-size: 18px;
    align-items: center;
    color: black;
}

.container {
    max-width: 940px;
    margin: 0 auto;
}

.grey {
    background: #F6F6F6;
    max-width: none;
}

nav span:hover {
    color: grey
}

.name {
    display: inline-block;
    align-items: flex-start;
    text-align: center;
    font-size: 47px;
    line-height: 59px;
    font-family: "Gilroy-Bold";
}

.name1 {
    display: inline-block;
    font-family: "Gilroy-Medium";
    font-size: 18px;
    line-height: 22px;
    padding-left: 297px;
}

.name2 {
    display: inline-block;
    writing-mode: tb-rl;
    transform: translateX(330px) rotate(180deg);
    font-family: "Gilroy-Bold";
    font-size: 16px;
    line-height: 20px;
    margin-right: 246px;
}

.name2 span {
    color: #828282;
}

.photo1 {
    max-width: 100%;
}

.about {
    height: 506px;
    margin: 0;
    font-family: 'Gilroy-medium';
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.iam {
    display: flex;
    flex-direction: column;
}

h2 {
    font-family: 'Gilroy-Bold';
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    padding-top: 90.25px;
}

.skills {
    font-family: "Gilroy-Bold";
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    height: 500px;
}

.programs {
    display: flex;
    justify-content: space-between;
    font-size: 34px;
    font-family: "Gilroy-Bold";
}

.programms1 {
    height: 206px;
    font-family: "Gilroy-ExtraBold";
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: #070707;
}

.stars {
    margin-top: 25px;
}

.stars1 {
    margin-top: 43px;
}

.progs {
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin-top: 69px;
    margin-bottom: 83px;
}

h3 {
    margin-top: 91px;
    font-size: 34px;
}

.programms3 {
    font-family: "Gilroy-Bold";
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282;
}


.portfolio {
    background: #F6F6F6;
    font-family: "Gilroy-ExtraBold";
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: #070707;
}


.portfolio p {
    font-family: "Gilroy-Medium";
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-decoration-line: underline;
    padding-bottom: 59.09px;
}

.ofsp {
    width: 936.24px;
    height: 510px;
    padding-top: 47px;
}

h4 {
    font-family: 'Gilroy-Bold';
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: #070707;
    padding-top: 112.93px;
}

h5 {
    font-family: 'Gilroy-Bold';
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: #070707;
    padding-top: 114px;
    padding-bottom: 20px;
}


button {
    display: inline-block;
    background-color: #070707;
    color: white;
    border: solid black;
    border-radius: 25px;
    width: 180px;
    height: 42px;
    font-family: "Gilroy-Bold";
    text-align: center;
    font-size: 18px;
}

.message {
    padding-bottom: 86px;
}

.contactlinks {
    display: inline-flex;
    justify-content: space-between;
    text-align: center;
    width: 342px;
    padding-bottom: 45px;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Gilroy-Medium';
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    height: 622px;
    background-color: white;
}

.like {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282;
    padding-bottom: 123px;
}

.class123 {
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    padding-bottom: 30px;
}